<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/joinus.css"/>
	</head>
	<body>
		<img id="join_us_jiameng_img" src="../images/加盟本体.png" width=45% align="top"/>
		<div id="join_us_ad_1_div">
			<p>
			智能的管理，只需微信，便可以实现线上线下连通服务。
			</p>
			<p>
			随着会员等级的提高，更有多种福利待遇。
			</p>
			<p>
			火锅是成都人一年四季的最好，无淡季，已开业门店家家爆满，生意好到爆，名气已经打响。
			</p>
		</div>
		<!--特色介绍-->
		<div id="join_us_show">
			<span id="join_us_show_title">
				特色菜品
			</span>
			<hr />
			<div id="join_us_show_img">
				<img src="../images/echang.jpg"/>
				<span id="">
					特色鹅肠
				</span>
				<img src="../images/maodu.jpg"/>
				<span id="">
					特色毛肚
				</span>
				<img src="../images/roupian.jpg"/>
				<span id="">
					特色肉片
				</span>
				<img src="../images/wosun.jpg"/>
				<span id="">
					特色莴笋
				</span>
			</div>
		</div>
		
		
		
		<div class="info_input">
			<span id="join_us_info_ad_span">
				请留下您的联系方式
			</span>
			<hr />
			<br />
			<strong id="joinner_name_error">**请输入您的姓名**</strong>
			<br />
			<span id="">
				姓名：
			</span>
			<input placeholder="请输入您的姓名" type="text" name="" id="joinner_name" value="" />
			<br />
			<hr />
			<strong id="phone_number_error">输入有误,请重新输入</strong>
			<br />
			<span id="">
				联系方式：
			</span>
			<input maxlength="11" placeholder="请输入您的联系方式" type="text" name="" id="phone_number" value="" />
			<br />
			<br />
			<hr />
			<button id="join_us_button">确   认</button>
		</div>
		<script src="../js/jquery-1.12.2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/joinus.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
