<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">
	    <title>商铺首页</title>
	    <link rel="stylesheet" href="../css/chain/css/style.css"/>
	    <link rel="stylesheet" href="../css/chain/css/Up.css">
	    <script type="text/javascript" src="../js/jquery-1.12.2.js"></script>
	    <script type="text/javascript" src="../js/touch.js"></script>
	    <script type="text/javascript" src="../js/srcolltop.js"></script>
	    <script type="text/javascript" src="../js/xlmenu.js"></script>
	    
	    <script>
	    	$(function() {
				$("figure:eq(0)").css({
					border: 'none'
				});
				$("figure:eq(1)").css({
					border: 'none'
				});
				var titleName = $(".ycmenu a");
				for(var i = 0; i < titleName.length; i++) {
					titleName[i].id = i;
					titleName[i].onmouseover = function() {
						for(var j = 0; j < titleName.length; j++) {
							titleName[j].className = "";
						}
						this.className = "a";
					}
				}
			})
	    </script>
	</head>
	<body>
		<header>
		    <div>
		        <a href="join_us.html">欢迎你的加入！<button>欢迎加盟</button></a>
		    </div>
		</header>
		<!--
        	作者：502063237@qq.com
        	时间：2020-01-07
        	描述：
        	主页图片路径
        	logo图片
        -->
		<div class="container">
		    <div class="allLogo">
		        <div class="logo"><img src="../img/uu16.jpg" alt="logo"/></div>
		        <div class="head"><a href="javascript:;"><img src="../img/ls.jpg" alt="头像"/></a></div>
		        <div class="headInfo"><a href="#">xxx连锁</a></div>
		    </div>
		
		    <div class="SeckillOne">
		        <div>
		            <img src="../img/2q.jpg" alt="">
		        </div>
		        <div id="CountMsg" class="HotDate">
		        	<!--
                    	作者：502063237@qq.com
                    	时间：2020-01-07
                    	描述：
                    	抢购时间数据
                    	抢购商品对象1
                    	抢购商品对象2
                    -->
		        	<span id="time" style="display: none;">2020/5/1 10:00:00</span>
		            <br><a>倒计时</a><br>
		            <span class="t_d">00天</span><br>
		            <span class="t_h">00:</span>
		            <span class="t_m">00:</span>
		            <span class="t_s">00</span>
		        </div>
		        <div class="hurry">
		                <a href="Mgroup.html"><button>立即抢购 <img src="../img/jian.png"></button></a>
		        </div>
		        <div class="number">
		            <p>已抢 xx份, 剩余 25 份</p>
		        </div>
		    </div>
		    <div class="SeckillTwo">
		        <div>
		            <img src="../img/1q.gif" alt="">
		        </div>
		        <div  class="HotDate">
		            <br><a>倒计时</a><br>
		            <span class="t_d">555天</span><br>
		            <span class="t_h">66:</span>
		            <span class="t_m">00:</span>
		            <span class="t_s">100</span>
		        </div>
		        <div class="hurry">
		            <a href="Mgroup.html"><button>立即抢购 <img src="../img/jian.png"></button></a>
		        </div>
		        <div class="number">
		        	  <p>已抢 xx份, 剩余 25 份</p>			
		        </div>
		    </div>
		    <div class="store">
		        <ul>
		            <li class="li1"><a href="#">商品信息</a></li>
		            <li class="li2"><a href="javascript:;" class="xlmenu">全部&nbsp;<img src="../img/donw.png" style="width: 12px;display: inline"></a>&nbsp;共<span style="color: #e4393c;font-size: 1.8rem">40</span>件</li>
		        </ul>
		        <!--
                	作者：502063237@qq.com
                	时间：2020-01-07
                	描述：
                	全部商品类别
                	全部商品数量
                -->
		        <div class="ycmenu">
		            <ul>
		                <li><a href="allGoods.html" class="a">全部商品</a></li>
		                <li><a href="nydg.html">商品1</a></li>
		                <li><a href="nydg.html">商品2</a></li>
		                <li><a href="nydg.html">商品3</a></li>
		                <li><a href="nydg.html">商品4</a></li>
		                <li><a href="nydg.html">商品5</a></li>
		                <li><a href="nydg.html">商品6</a></li>
		            </ul>
		        </div>
		    </div>
		    <div class="clear"></div>
		    <div class="border">
		    </div>
		    <!--
            	作者：502063237@qq.com
            	时间：2020-01-07
            	描述：
            	查询所有商品数据渲染
            -->
		    <div class="allsp">
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品1</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品2</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品3</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品4</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品5</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品6</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品7</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品8</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>全部商品</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <figure>
		            <a href="spxq.html"><img src="../img/u67.png" alt="商品" class="xqtp"/></a>
		            <p>商品9</p>
		            <div class="info">
		                <em class="sat">￥46&nbsp;<small>￥46</small></em>
		                <a href="#"><img src="../img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
		            </div>
		        </figure>
		        <div class="clear"></div>
		    </div>
			<div class="wx_nav" id="wx_nav">
		        <a href="mall.html" class="nav_index" id="nav_index">首页</a>
		        <a href="car.html" class="nav_shopcart" id="nav_shopcart">购物车</a>
		        <a href="mallpersonal.html" class="nav_me on" id="nav_me on">个人中心</a>
		    </div>
		</div>
		<footer>
		    <div class="footer">
		        <p>没有更多了</p>
		    </div>
		</footer>
		<div class="actGotop"><a href="javascript:;" title="返回顶部"></a> <img src="img/fanhui.png" alt=""></div>
		<div class="theme-popover-mask"></div>
		
		
		<!--
        	作者：502063237@qq.com
        	时间：2020-01-07
        	描述：设置抢购时间js
        -->
		
		<script>
			 var time=document.getElementById("time").innerHTML;
			$(function() {
				var EndTime = new Date(time); //截止时间
				function getRTime() {
					var NowTime = new Date();
					var t = EndTime.getTime() - NowTime.getTime();
					var d = Math.floor(t / 1000 / 60 / 60 / 24);
					t -= d * (1000 * 60 * 60 * 24);
					var h = Math.floor(t / 1000 / 60 / 60);
					t -= h * 60 * 60 * 1000;
					var m = Math.floor(t / 1000 / 60);
					t -= m * 60 * 1000;
					var s = Math.floor(t / 1000);
			
					//        var d=Math.floor(t/1000/60/60/24);
					//        var h=Math.floor(t/1000/60/60%24);
					//        var m=Math.floor(t/1000/60%60);
					//        var s=Math.floor(t/1000%60);
					function fnW(str) {
						var num;
						str > 9 ? num = str : num = "0" + str;
						return num;
					}
					$(".t_d").html(d + "天");
					$(".t_h").html(h + ":");
					$(".t_m").html(fnW(m) + ":");
					$(".t_s").html(fnW(s) + "");
				}
				setInterval(getRTime, 1000);
			});
		</script>
	</body>
</html>