<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.demo.mapper.ShoppingCarMapper">
  <resultMap id="BaseResultMap" type="com.weixin.demo.entity.car.ShoppingCar">
    <!--@mbg.generated-->
    <!--@Table shopping_car-->
    <result column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="car_num" jdbcType="INTEGER" property="carNum" />
    <result column="wechat_num" jdbcType="VARCHAR" property="weChatNum" />
  </resultMap>

  <!--查询该微信号下的所有,购物车信息,连接商品表和商品图片表查询-->
  <resultMap id="catAll" type="com.weixin.demo.entity.car.ShoppingCar">
    <!--@mbg.generated-->
    <!--@Table shopping_car-->
    <id column="car_id" property="carId"/>
    <result column="product_id"  property="productId" />
    <result column="car_num"  property="carNum" />
    <result column="wechat_num" jdbcType="VARCHAR" property="weChatNum" />
    <!--商品详情表,传入商品类型id-->
    <association property="product"  select="com.weixin.demo.mapper.ProductMapper.byId" column="product_id">
    </association>
    <!--商品图片表,传入商品类型id-->
    <association property="productImg"  select="com.weixin.demo.mapper.ProductImgMapper.byId" column="product_id" >
    </association>
  </resultMap>


  <!--根据用户,链表查询购物车全部数据-->
  <select id="byWeChatNum" parameterType="com.weixin.demo.entity.vip.Vip" resultMap="catAll" >
    select *from shopping_car where shopping_car.wechat_num=#{wechatNum}
  </select>



  <insert id="insert" parameterType="com.weixin.demo.entity.car.ShoppingCar">
    <!--@mbg.generated-->
    insert into shopping_car (car_id, product_id, car_num, 
      user_id)
    values (#{carId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{carNum,jdbcType=INTEGER}, 
      #{weChatNum,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.weixin.demo.entity.car.ShoppingCar">
    <!--@mbg.generated-->
    insert into shopping_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        car_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="carNum != null">
        car_num,
      </if>
      <if test="weChatNum != null">
        wechat_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="carNum != null">
        #{carNum,jdbcType=INTEGER},
      </if>
      <if test="weChatNum != null">
        #{weChatNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


<!--更新数量 -->
  <update id="upNumber" parameterType="com.weixin.demo.entity.car.ShoppingCar">
    UPDATE  shopping_car set car_num=#{carNum} WHERE car_id=#{carId}
  </update>

  <!--删除数据-->
  <delete id="deleteCarId" parameterType="arraylist">
    delete from shopping_Car where car_id in
    <foreach collection="list" open="(" separator="," close=")" item="car">
      #{car.carId}
    </foreach>
  </delete>



    <!--查询包含id的对象-->
  <select id="optionList" parameterType="arraylist" resultMap="BaseResultMap">
      select * from shopping_car where car_id in
      <foreach collection="list" open="(" separator="," close=")" item="car">
          #{car.carId}
      </foreach>
  </select>


</mapper>